@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #4b79a1, #283e51);
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
